// Definir cor dos textos
// funções: neste caso vamos identificar a cor do fundo e alterar a cor da letra em função da sua tonalidade.
@function set-text-color($color) {
    @if (lightness($color) > 50) {
        @return $dark-color;
    } @else {
        @return $light-color;
    }
}

// MIXIN - Transform
@mixin transform($property) {
    transform: $property;
}

@mixin set-btn($bg-color, $width, $rounded: 0, $color) {
    background-color: $bg-color;
    width: $width + px;
    color: $color;

    @if ($rounded == "full") {
        border-radius: 9999px;
    } @else if ($rounded > 0) {
        border-radius: $rounded + px;
    } @else {
        border-radius: unset;
    }
    
}

@mixin dark-theme($light-theme) {
    @if $light-theme {
        background-color: $light-color;
        color: $dark-color;
    } @else {
        background-color: $dark-color;
        color: $light-color;
    }
}