// @import "variables"; -> O import é o método antigo que vai ser descontinuado na versão 3.0.0, nisto se usa o @use
@import "variables";
@import "functions";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 2rem;
    font-weight: bold;

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    li a {
        text-decoration: none;
    

        $colors: (
            facebook: #06f,
            instagram: #f68dff,
            youtube: #f00,
            whatsapp: green,
            twitter: darken(grey, 50%),
        );

        @each $social, $valor in $colors {
            &.#{$social} {
                color: $valor;
            }
        }
    }
}


body {
    background-color: $light-color;
    color: set-text-color($light-color);
    font-family: $font-stack;
    line-height: 1.5;

    &.dark {
        @include dark-theme(false);
    }
}

header {
    background-color: $dark-color;
    color: set-text-color($dark-color);
    padding: 1rem;

    h1 {
        text-align: center;
    } 
}

.section {
    padding: 3rem;

    h3 {
        font-size: 2rem;
    }

    // o &, vai fazer a contatenação por exemplo, neste caso, vai concatenar o ".section" com o "-1" que vai dar .section-1.
    &-1 {
        background-color: $primary-color;
        color: set-text-color($primary-color);
    }

    &-2 {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
    }

    // @for $i from 1 through 10 {
    //     &-#{$i} {
    //         h3 {
    //             font-size: 1.5 * $i + rem;
    //         }
    //     }
    // }

    $i: 1;
    @while $i <= 10 {
        &-#{$i} {
            h3 {
                font-size: 1.5 * $i + rem;
            }
        }
        $i: $i + 1;
    }
}

// HERANÇA

.btn {
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
    background-color: orange
}

.btn {
    &-light {
        // @extend %btn-shared; é a herança para o botão
        @extend .btn;
        background-color: $light-color;
        color: set-text-color($light-color);
        // border-radius: 8px;
        @include set-btn($light-color, 150, "full", 000);
        

        // propriedades embutidas do sass, neste caso vamos definir a quantidade de hover que a função vai aplicar
        &:hover {
            background-color: darken($light-color, 30%);
            @include transform(rotate(10deg));
            @include set-btn(#f00, 100px, 0, #000);
        }
    }

    &-dark {
        @extend .btn;
        background-color: $dark-color;
        color: set-text-color($dark-color);
        border-radius: 8px;

        &:hover {
            background-color: lighten($dark-color, 30%);
            @include transform(scale(1.2));
            @include set-btn(#fff, 150px, 0, #000);
        }
    }
}